.words_title,
.words_title:focus {
    font-size: 18px;
    line-height: 1.4em;
    display: block;
    color: black;
    margin-bottom: 12px;
}

.tuijian_title {
    text-align: center;
    margin: 0px auto;
    margin-top: 170px;
    font-size: 20px;
    line-height: 1.2em;
}

.color_title {
    background-color: #ffdc5e;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.zahuo_desc {
    text-align: center;
    margin: 0px auto;
    margin-top: 20px;
}