body
{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.xiaoqin_reg_logo
{
    display: block;
    width: 110px;
    height: 400px;
    background: url('../images/logosprite.png-v=1.png')/*tpa=http://www.hougelou.com/images/logosprite.png?v=1*/ no-repeat;
    background-position: -242px 4px;
    color: black;
    margin: 0px auto;
}
#contentLeft
{
    width: 30%;
    height: 960px;
    float: left;
    font-size: 30px;
    line-height: 1em;
    font-family: sans-serif,caecilia, times;
    text-align: right;
    padding-right: 45px;
    background-color: #f1e9b3;
    display: block;
}
#contentRight
{
    float: left;
    padding-left: 50px;
    padding-top: 22px;
    width: 60%;
}
#contentRight .input
{
        width: 260px;
        border: #EEEEEE 1px solid;
        border-radius: 0px;
        padding: 12px 14px;
        font-size: 14px;
        color: #333;
        font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#WaitingContent
{
    width: 300px;
}
#WaitingContent .TimeTitle
{
    margin-bottom: 20px;
    font-size: 30px;
}
.tips
{
    position: absolute;
    left: 11px;
    top: 0;
    line-height: 35px;
    height: 35px;
    color: #a6a6a6;
    cursor: text;
    font-size: 14px;
}
.ipass
{
    cursor: pointer;
    position: absolute;
    left: 268px;
    top: 16px;
}
.label input
{
    font: 13px/20px "Microsoft YaHei";
    background: none;
    height: 20px;
    border: none;
    margin: 7px 0 0 10px;
    width: 222px;
    outline: none;
    letter-spacing: normal;
    z-index: 1;
    position: relative;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#registerDiv label.success
{
    background-image: none;
    display: none;
    position: absolute;
    z-index: -100;
}
#btnReg
{
    width: 290px;
}
#registerDiv .HeadTitle
{
    font-size: 20px;
    margin-bottom: 28px;
}
.auto-tip
        {
            margin:0px;
            padding:0px;
                margin-top: -1px;
                margin-left: -90px;
        }
        .auto-tip li {
    list-style: none;
    padding: 4px 14px;
    cursor:pointer;
}
.auto-tip li:hover,.hoverBg {
    background-color: #ff8a65;
    color:White;
}
     .auto-tip li em
     {
         font-style: normal;
     }
     .hidden
     {
         display:none;
     }
#btnRegister{
    width: 323px;
}
.codeP .error
{
        padding-top: 12px;
    display: inline-block;
}
#xieyi
{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.xieyi{
    margin-right:5px;
    cursor: pointer;
}
.passDiv label.error {
    margin-left: 12px;
}
.amao_msg
{
    margin-top:40px;
}
.amao_msg_padding
{
    border: 1px solid #f7f7f7;
    padding: 20px;
    width: 324px;
}
.first_msg
{
    cursor:pointer;
}
.red_block
{
    float:left;
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align:center;
    background-color: #ff5722;
    color: white;
    font-size: 12px;
    border-radius: 50%;
}
.first_msg_word
{
    float:left;
    width:200px;
    margin-left: 12px;
    line-height: 22px;
    color: #bdbdbd;
}
.list_content
{
    margin-top: 28px;
}
.msg_item
{
    margin-bottom: 38px;
    display:none;
}
.msg_left
{
    -webkit-animation:bounceInLeft 1s .2s ease both;
-moz-animation:bounceInLeft 1s .2s ease both;}
@-webkit-keyframes bounceInLeft{
0%{opacity:0;
-webkit-transform:translateX(-100px)}
100%{opacity:1;
-moz-transform:translateX(0px)}
}
@-moz-keyframes bounceInLeft{
0%{opacity:0;
-moz-transform:translateX(-100px)}
100%{opacity:1;
-moz-transform:translateX(0px)}
}
.msg_right
{
    -webkit-animation:bounceInRignt 1s .2s ease both;
-moz-animation:bounceInRignt 1s .2s ease both;}
@-webkit-keyframes bounceInRignt{
0%{opacity:0;
-webkit-transform:translateX(100px)}
100%{opacity:1;
-webkit-transform:translateX(0px)}
}
@-moz-keyframes bounceInRignt{
0%{opacity:0;
-moz-transform:translateX(100px)}
100%{opacity:1;
-webkit-transform:translateX(0px)}
}
.sys_confirmMsg
{
    background-color: #fbfbfb;
    padding: 6px 34px;
    border-radius: 6px;
    width: 120px;
    margin: 0px auto;
    font-size: 12px;
    margin-bottom: 78px;
    display:none;
}
.user_photo
{
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align:center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #cde4c4;
}
.sys_photo
{
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align:center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #f9f9f9;
    margin-left: 272px;
}
.send {
    position: relative;
    width: 222px;
    background: #cde4c4;
    border-radius: 5px;
    margin-top: -48px;
    margin-left: 68px;
    padding: 14px;
    font-size: 12px;
}
.send .arrow {
    position: absolute;
    top: 12px;
    left: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: white #ffdc5e white white;
}
.sys_send
{
    position: relative;
    width: 222px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-top: -48px;
    margin-left: 2px;
    padding: 14px;
    font-size: 18px;
    text-align: right;
}
.sys_send .sys_arrow
{
    position: absolute;
    top: 12px;
    right: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: white white white #f9f9f9;
}
.gomsg,.outmsg
{
    cursor:pointer;
}