.shuxinBanner a {
    display: block;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shuxinBanner a:hover {
    z-index: 2;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.banner_left {
    width: 700px;
    height: 380px;
    float: left;
    overflow: hidden;
}

.banner_right {
    width: 396px;
    height: 380px;
    float: left;
}

.banner_right img {
    height: 190px;
    width: 396px;
}

.normal_content {
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    border-top: none;
    border-right: none;
}

.shuxin_item {
    text-decoration: none;
    display: block;
    width: 178px;
    padding: 0px 20px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    float: left;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    border-left: none;
    color: #101010;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.shuxin_item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    color: #00a7e0;
}

.moreDiv {
    margin-top: 50px;
    clear: left;
}

.more {
    background-color: #F7F7F7;
    padding: 5px 35px;
    border-radius: 30px;
    margin-left: 500px;
    color: #060606;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.more:hover {
    /* background-color: #656362; */
    background-color: #00a7e0;
    color: white;
}

.fengeline {
    clear: left;
    width: 1096px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fenge_block {
    text-align: center;
    font-weight: bold;
}

.moreLoading {
    margin-left: 540px;
}

.shuxin_title {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.shuxin_title .cn {
    font-size: 14px;
}