/**去掉bootstrapt的样式**/
* {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: inherit;
}

#Main {
    margin-bottom: 200px;
    /* width: 100%; */
}

.zhilou_title {
    font-size: 24px;
    /* margin: 46px 0; */

}

.zhilou_title .cn {
    font-size: 14px;
}

.acup {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #EF7364;
}

.choiceface {
    font-size: 18px;
    color: #EF735F;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    float: left;
}

.choiceface:hover {
    color: #e44027;
}

.user_R {
    float: left;
    /* margin-left: 14px; */
    margin: 0 auto;
    color: #9E9E9E;
}

.content .item {
    margin-bottom: 66px;
    width: 260px;
    height: 252px;
    float: left;
    margin-right: 66px;
    border: 1px solid #F1EFEF;
    padding: 30px;
    position: relative;
}

.content .item:hover {
    box-shadow: 2px 5px 8px 0 #e8e8e8;
}

.content .item:hover .look {
    display: block;
}

.item .look {
    position: absolute;
    right: 16px;
    bottom: 16px;
    cursor: pointer;
    display: none;
}

.content .userInfo img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}

.content .Address {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 176px;
}

.showZhiPian div.zhipian_name,
.showZhiPian div.Address {
    width: 314px;
}

.showZhiPian div.zhipian {
    word-wrap: break-word;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
}

.content .zhipian {
    clear: left;
    margin-top: 20px;
    line-height: 1.8em;
    min-height: 100px;
    word-wrap: break-word;
}

.content .zhipian img {
    margin-right: 5px;
}

.moreDiv {
    margin-top: 50px;
    clear: left;
}

.moreLoading {
    margin-left: 540px;
}

.more {
    background-color: #F7F7F7;
    padding: 5px 35px;
    border-radius: 30px;
    margin-left: 500px;
    color: #060606;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.more:hover {
    background-color: #656362;
    color: white;
}

.item .action_item {
    position: absolute;
    bottom: 12px;
    left: 24px;
}

.showZhiPian {
    width: 414px;
    padding: 30px 42px;
    border: 1px solid #F1EFEF;
    margin: 0px auto;
    display: none;
    position: relative;
    margin-top: 120px;
    box-shadow: -1px 3px 12px #c1b1b1;
}

.showZhiPian .close {
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
    font-style: normal;
    font-size: 28px;
    font-weight: normal;
    color: #252424;
    opacity: 1;
    clear: both;
    line-height: normal;
}

.contentTwo {
    width: 1182px;
}

.showZhiPian .close:hover,
.item .look:hover {
    color: #FF5722;
}

.showZhiPian .zhipian_name {
    color: #515151;
    font-weight: bold;
}

.action_item a,
.action_item a:link {
    color: #9d9e9f;
}

.action_item a:hover {
    color: #4E4C4C;
    text-decoration: none;
}

.user_R .zhipian_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 176px;
}

@font-face {
    font-family: 'iconfont';
    src: url('fonts/share/iconfont.eot')
        /*tpa=http://www.hougelou.com/css/fonts/share/iconfont.eot*/
    ;
    /* IE9*/
    src: url('fonts/share/iconfont.eot-#iefix')
        /*tpa=http://www.hougelou.com/css/fonts/share/iconfont.eot?#iefix*/
        format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/share/iconfont.woff')
        /*tpa=http://www.hougelou.com/css/fonts/share/iconfont.woff*/
        format('woff'),
        /* chrome、firefox */
        url('fonts/share/iconfont.ttf')
        /*tpa=http://www.hougelou.com/css/fonts/share/iconfont.ttf*/
        format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('fonts/share/iconfont.svg#iconfont')
        /*tpa=http://www.hougelou.com/css/fonts/share/iconfont.svg#iconfont*/
        format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.popover-content .shareUL {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.popover-content .shareUL li {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #f1f2f3;
    padding: 5px 12px;
    text-indent: 22px;
    color: #9E9E9E;
    font-size: 14px;
}

.popover-content .shareUL li:hover {
    background-color: whitesmoke;
}

.popover-content .shareUL li:first-child {
    border: none;
}

.popover .popover-content {
    padding: 0px;
}

.popover-content .shareUL a {
    color: #9d9e9f;
    display: block;
    width: 84px;
}

.popover-content .shareUL li i {
    position: absolute;
    left: -8px;
}

.btnClass {
    display: inline-block;
    zoom: 1;
    padding: 7px 13px;
    vertical-align: top;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
    color: #ef735f;
    background: transparent;
    cursor: pointer;
    width: 80px;
    border: 1px solid #ef735f;
}

.btnClass:hover {
    color: white;
    -webkit-transition: all 0.2s ease-in;
    background-color: #f19e90;
}

#txtContent {
    width: 500px;
    height: 80px;
    padding: 10px;
    line-height: 1.6em;
    border: 1px solid #D5DEE3;
    resize: none;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.WriteInfo {
    margin-top: 10px;
    line-height: 30px;
}

.ZhiLou_Num_left {
    width: 120px;
    float: right;
    text-align: right;
    font-size: 14px;
    margin-top: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/**将logo层级降低否则登录窗口不能遮盖**/
.xiaoqin_w_logo {
    z-index: 100;
}

/**模态窗口的修复**/
html body .aui_state_noTitle .aui_close {
    right: 18px;
    top: 12px;
    color: #0c0c0c;
    font-family: -apple-system, BlinkMacSystemFont, poppin, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 28px;
}

html body .aui_state_noTitle .aui_close:hover {
    color: #FF5722;
}

.comment_zone {
    margin-top: 20px;
    display: none;
}

.user_Photo {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    float: left;
    margin-top: 5px;
    position: absolute;
    left: -54px;
    z-index: 1000;
}

#txtcomment_text {
    width: 363px;
    padding: 9px 13px;
    border-radius: 4px;
    position: relative;
    min-height: 26px;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    line-height: 1.6em;
    background-color: #f5f5f5;
}

#txtcomment_text img {
    margin-right: 5px;
}

.comment_div .comment_tips {
    position: absolute;
    top: 11px;
    left: 11px;
    color: #C3C2C2;
}

.comment_twodiv {
    margin-top: 10px;
}

#btnComment {
    float: right;
    width: 30px;
    padding: 4px 12px;
}

.fengeline {
    clear: left;
    padding: 30px 0px 100px;
    width: 1096px;
}

.fenge_block {
    text-align: center;
    font-weight: bold;
}